body {
  background-color: azure;
}
.root {
  font-size: 40px;
}

.container {
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

b {
  color: #00ccff;
}

.input-wrap {
  width: 70%;
  margin: auto;
}

.input {
  border: 1px solid grey;
  box-sizing: border-box;
  margin: 10px;
  width: 75%;
  height: 40px;
  font-size: 20px;
}

.list {
  font-size: 20px;
  color: grey;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.button {
  border: none;
  background-color: #d6d9da;
  box-sizing: border-box;
  height: 40px;
  width: 19%;
  border-radius: 2px;
}
.button:hover {
  background-color: rgb(48, 182, 245);
  cursor: pointer;
}

.list-button {
  float: right;
  border: none;
  background-color: #d6d9da;
  box-sizing: border-box;
  cursor: pointer;
  height: 20px;
}
.list-button:hover {
  background-color: rgb(48, 182, 245);
}

.li {
  cursor: pointer;
  margin-top: 5px;
}
li:hover {
  color: rgb(48, 182, 245);
  cursor: pointer;
}

.li-done {
  text-decoration: line-through;
  cursor: pointer;
  margin-top: 5px;
}

.block-for-element {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  border-bottom: 0.5px solid darkolivegreen;
}
